* {
  margin: 0;
}
/*Modo claro*/
/* .light-mode{
  background-color: #f2f2f2;
  color: #000;
  font-family: Arial, sans-serif;
} */

/* Modo oscuro */
 body{
  background-color: #262626;
  color: whitesmoke;
  font-family: Arial, sans-serif;
}

/* Boton cambio de tema */
/* .button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
} */
/* .button-icon {
  background-image: url("./images/oscuro.png"); 
  background-size: cover; 
  background-repeat: no-repeat;
}


.button.light {
  background-image: url("./images/oscuro.png");
  background-size: cover;
  width: 30px;
  height: 30px;
}

.button.dark {
  background-image: url("./images/claro.png");
  background-size: cover;
  width: 30px;
  height: 30px;
} */





